<section class="hero">
  
    <div class="hero-container">
    <div class="hero-list-desctop">
        <div class="hero-list-desctop1">
            <ul class="hero-list">
              <li class="hero-list-reviews">
                <ul class="reviews-list">
                  <li>
                    <img
                    srcset="./img/person-1.jpeg 1-x, ./img/person-1.jpeg 2-x"  
                    src="./img/person-1.jpeg"                   
                      alt=""
                      width="40px"
                      height="40px"
                    />
                  </li>
                  <li class="reviews-list-item">
                    <img
                    srcset="./img/person-2.jpeg 1-x, ./img/person-2.jpeg 2-x"  
                    src="./img/person-2.jpeg"                   
                      alt=""
                      width="40px"
                      height="40px"
                    />
                  </li>
                  <li class="reviews-list-item">
                    <img
                    srcset="./img/person-3.jpeg 1-x, ./img/person-3.jpeg 2-x"  
                    src="./img/person-3.jpeg"                   
                      alt=""
                      width="40px"
                      height="40px"
                    />
                  </li>
                  <li class="reviews-list-count">
                    <span class="reviews-count-title">2K</span>
                    <span class="reviews-count-text">reviews</span>
                  </li>
                </ul>
              </li>
              <li class="hero-list-tittle">
                <h1>organic <span>vegetables</span> to your diet today!</h1>
              </li>
              <li class="hero-list-text">
                <p>
                  Our expertly curated vegetable baskets are made with the freshest,
                  highest quality vegetables available. Fresh Harvest Box has got
                  you covered. Fresh, high-quality vegetables in expertly curated
                  vegetable baskets delivered to you.
                </p>
              </li>
              <li class="hero-list-item">
                <button type="button" class="hero-list-btn">
                  <span class="hero-btn-text"
                    >shop<br />
                    now</span
                  >
                </button>
              </li>
        </div>
           <div class="hero-list-desctop2">
              <li class="hero-list-img">
                <img  srcset="./img/main-photo.png 1-x, ./img/main-photo-2x.png 2-x"   src="./img/main-photo.png " alt="" 
                />
                <!--<div class="picture">
                   <div class="picture1"></div>
                </div>-->
              </li>
              <li class="hero-list-menu">
                <ul class="hero-list-nav">
                  <li class="hero-nav-item nav-organic"><a href="">#organic</a></li>
                  <li class="hero-nav-item"><a href="">#products</a></li>
                  <li class="hero-nav-item"><a href="">#basket</a></li>
                  <li class="hero-nav-item"><a href="">#vegetables</a></li>
                </ul>
              </li>
            </ul>
           </div>
    </div>
    </div>
  </section>