<section class="hero">
  
  <div class="hero-container">
  <div class="hero-list-desctop">
      <div class="hero-list-desctop1">
         
              <ul class="reviews-list">
                <li>
                  <img
                  srcset="./img/person-1.jpeg 1x, ./img/person-1.jpeg 2x"                     
                  src="./img/person-1.jpeg"                   
                    alt="review1"
                    width="40"
                    height="40"
                  />
                </li>
                <li class="reviews-list-item">
                  <img
                  srcset="./img/person-2.jpeg 1x, ./img/person-2.jpeg 2x"  
                  src="./img/person-2.jpeg"                   
                    alt="review2"
                    width="40"
                    height="40"
                  />
                </li>
                <li class="reviews-list-item">
                  <img
                  srcset="./img/person-3.jpeg 1x, ./img/person-3.jpeg 2x"  
                  src="./img/person-3.jpeg"                   
                    alt="review3"
                    width="40"
                    height="40"
                  />
                </li>
                <li class="reviews-list-count">
                  <span class="reviews-count-title">2K</span>
                  <span class="reviews-count-text">reviews</span>
                </li>
              </ul>                           
              <h1 class="hero-list-tittle">organic <span>vegetables</span> to your diet today!</h1>                          
              <p class="hero-list-text">
                Our expertly curated vegetable baskets are made with the freshest,
                highest quality vegetables available. Fresh Harvest Box has got
                you covered. Fresh, high-quality vegetables in expertly curated
                vegetable baskets delivered to you.
              </p>                           
              <button type="button" class="hero-list-btn" data-modal-open>
                <span class="hero-btn-text"
                  >shop<br />
                  now</span
                >
              </button>             
      </div>
        <div class="hero-list-desctop2">             
              <img class="hero-list-img"  srcset="./img/main-img.png 1x, ./img/main-img-2x.png 2x" 
              src="./img/main-img.png" alt="main_grirl" 
              />                             
            
              <ul class="hero-list-nav">
                <li class="hero-nav-item nav-organic"><a href="">#organic</a></li>
                <li class="hero-nav-item"><a href="">#products</a></li>
                <li class="hero-nav-item"><a href="">#basket</a></li>
                <li class="hero-nav-item"><a href="">#vegetables</a></li>
              </ul>
        
          
        </div>
  </div>
  </div>
</section>