<section class="howit">
  <div class="container">
    <div class="back-wrapper">
      <h2 class="howit-title">3 Easy Steps for Buying Fresh Vegetables</h2>
      <ol class="howit-list list">
        <li class="howit-item">
          <div class="howit-num-conteiner">1</div>
          <p class="howit-desc link">
            Just choose the vegetable you want to order by clicking on the
            checkboxes next to it.
          </p>
        </li>
        <li class="howit-item">
          <div class="howit-num-conteiner">2</div>
          <p class="howit-desc link">
            Click on the basket and fill out the form.
          </p>
        </li>
        <li class="howit-item">
          <div class="howit-num-conteiner">3</div>
          <p class="howit-desc link">
            Sit back and relax! Your fresh vegetables basket will be delivered.
          </p>
        </li>
      </ol>
      <div class="howit-picture">
        <img src="../img/img-girl.png" alt="girl" width="258" height="319" />
      </div>
    </div>
  </div>
</section>
