<section class="vegetables" id="vegetables">
  <div class="veg-container">
    <h2 class="veg-main">organic vegetables</h2>
    <p class="veg-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <div class="veg-set">
      <ul class="veg-cards">
        <li class="veg-card">
          <div class="veg-item">
            <p class="veg-name">Carrot</p>
            <p class="veg-kind">Plant</p>
            <div class="pic-height">
              <img
                srcset="./img/carrot.png 1x, ./img/carrot-2x.png 2x"
                src="./img/carrot.png"
                alt="carrot"
                width="299"
                class="veg-pic"
              />
            </div>
            <p class="veg-weight">100 UAH / kg</p>
          </div>
        </li>
        <li class="veg-card">
          <div class="veg-item">
            <p class="veg-name">Brussel sprouts</p>
            <p class="veg-kind">Plant</p>
            <div class="pic-height">
              <img
                srcset="
                  ./img/brussel-sprouts.png    1x,
                  ./img/brussel-sprouts-2x.png 2x
                "
                src="./img/brussel-sprouts.png"
                alt="brussel-sprouts"
                width="299"
                class="veg-pic"
              />
            </div>
            <p class="veg-weight">80 UAH / kg</p>
          </div>
        </li>
        <li class="veg-card">
          <div class="veg-item">
            <p class="veg-name">Tomato</p>
            <p class="veg-kind">Plant</p>
            <div class="pic-height">
              <img
                srcset="./img/tomato.png 1x, ./img/tomato-2x.png 2x"
                src="./img/tomato.png"
                alt="tomato"
                width="299"
                class="veg-pic"
              />
            </div>
            <p class="veg-weight">40 UAH / kg</p>
          </div>
        </li>
        <li class="veg-card">
          <div class="veg-item">
            <p class="veg-name">Eggplant</p>
            <p class="veg-kind">Plant</p>
            <div class="pic-height">
              <img
                srcset="./img/eggplant.png 1x, ./img/eggplant-2x.png 2x"
                src="./img/eggplant.png"
                alt="eggplant"
                width="299"
                class="veg-pic"
              />
            </div>
            <p class="veg-weight">60 UAH / kg</p>
          </div>
        </li>
        <li class="veg-card">
          <div class="veg-item">
            <p class="veg-name">Sweet potatoes</p>
            <p class="veg-kind">Plant</p>
            <div class="pic-height">
              <img
                srcset="./img/sweet-potato.png 1x, ./img/sweet-potato-2x.png 2x"
                src="./img/sweet-potato.png"
                alt="sweet potato"
                width="299"
                class="veg-pic"
              />
            </div>
            <p class="veg-weight">80 UAH / kg</p>
          </div>
        </li>
        <li class="veg-card">
          <div class="veg-item">
            <p class="veg-name">Leek</p>
            <p class="veg-kind">Plant</p>
            <div class="pic-height">
              <img
                srcset="./img/leek.png 1x, ./img/leek-2x.png 2x"
                src="./img/leek.png"
                alt="leek"
                width="299"
                class="veg-pic"
              />
            </div>
            <p class="veg-weight">50 UAH / kg</p>
          </div>
        </li>
        <li class="veg-card">
          <div class="veg-item">
            <p class="veg-name">Mushrooms</p>
            <p class="veg-kind">Plant</p>
            <div class="pic-height">
              <img
                srcset="./img/mushrooms.png 1x, ./img/mushrooms-2x.png 2x"
                src="./img/mushrooms.png"
                alt="mushrooms"
                width="299"
                class="veg-pic"
              />
            </div>
            <p class="veg-weight">40 UAH / kg</p>
          </div>
        </li>
        <li class="veg-card">
          <div class="veg-item">
            <p class="veg-name">Corn</p>
            <p class="veg-kind">Plant</p>
            <div class="pic-height">
              <img
                srcset="./img/corn.png 1x, ./img/corn-2x.png 2x"
                src="./img/corn.png"
                alt="corn"
                width="299"
                class="veg-pic"
              />
            </div>
            <p class="veg-weight">60 UAH / kg</p>
          </div>
        </li>
        <li class="veg-card no-radish">
          <div class="veg-item">
            <p class="veg-name">Radish</p>
            <p class="veg-kind">Plant</p>
            <div class="pic-height">
              <img
                srcset="./img/radish.png 1x, ./img/radish-2x.png 2x"
                src="./img/radish.png"
                alt="radish"
                width="299"
                class="veg-pic"
              />
            </div>
            <p class="veg-weight">90 UAH / kg</p>
          </div>
        </li>
      </ul>
    </div>
    <button type="button" class="vegetables-button" data-modal-open>
      <svg class="veg-button-svg" width="14" height="14">
        <use href="./img/symbol-defs.svg#arrow"></use>
      </svg>
      ORDER
    </button>
  </div>
</section>
