<section class="wewill">
  <div class="container">
    <div class="wewill-box">
      <!-- <div class="wewill-box-2"> -->
      <h1 class="wewill-title">Fresh Harvest Box has got you covered</h1>
      <p class="wewill-text">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>

      <form action="" for="user-phone" class="wewill-form">
        <input
          type="tel"
          id="user-phone"
          placeholder="+38()"
          class="wewill-input"
        />
        <button type="submit" class="wewill-btn">Recall</button>
      </form>
      <!-- </div> -->

      <img
        src="./img/img-girl-2.png"
        alt="girl"
        width="335"
        height="357"
        class="wewill-img"
      />
    </div>
  </div>
</section>
