<!-- <section class="wewill">
  <div class="container">
    <div class="wewill-box">
      <div class="wewill-content">
        <h1 class="wewill-title">Fresh Harvest Box has got you covered</h1>

        <p class="wewill-text">
          Our boxes are packed with delicious, nutritious vegetables, perfect
          for anyone looking to eat healthier or support local farmers. Order
          your box today and start enjoying the best that nature has to offer!
        </p>

        <form action="" for="tel" class="wewill-form">
          <input
            type="text"
            name="tel"
            id="tel"
            class="wewill-input"
            placeholder="+38()"
          />
          <button type="submit" class="wewill-btn">Recall</button>
        </form>
      </div>
      <div class="wewill-image">
        <img src="./img/img-girl-2.png" alt="girl" width="525" height="499" />
      </div>
    </div>
  </div>
</section> -->
