.vegetables {
  margin-top: 80px;
  margin-bottom: 80px;
}
.veg-container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .veg-container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .veg-container {
    max-width: 1280px;
    padding: 0 32.5px;
  }
}
.veg-main {
  color: #141414;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.96px;
  text-transform: uppercase;
  text-shadow: 0px 4px 70px 0px rgba(21, 16, 16, 0.1);
  text-align: center;
  margin-bottom: 14px;
}
@media screen and (min-width: 768px) {
  .veg-main {
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -1.12px;
  }
}
@media screen and (min-width: 1280px) {
  .veg-main {
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -1.6px;
  }
}
.veg-text {
  color: #141414;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  letter-spacing: -0.56px;
  text-align: center;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .veg-text {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.72px;
  }
}
.veg-name {
  color: #141414;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.96px;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .veg-name {
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -1.12px;
  }
}
@media screen and (min-width: 1280px) {
  .veg-name {
    font-size: 32px;
    line-height: 1.18;
    letter-spacing: -1.28px;
  }
}
.veg-kind {
  color: #141414;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.28px;
}
@media screen and (min-width: 768px) {
  .veg-kind {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
  }
}
.veg-weight {
  color: #141414;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.56px;
}
@media screen and (min-width: 768px) {
  .veg-weight {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.72px;
  }
}

.veg-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.no-radish {
  display: none;
}
@media screen and (min-width: 768px) {
  .veg-cards {
    flex-wrap: wrap;
    flex-direction: unset;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    column-gap: 20px;
    width: 100%;
  }
  .veg-cards .veg-card {
    margin: 0;
    padding: 0;
    flex-basis: calc((100% - 1 * 20px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .no-radish {
    display: flex;
  }
  .veg-cards {
    row-gap: 24px;
    column-gap: 24px;
  }
  .veg-cards .veg-card {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }
}
.veg-item {
  padding: 40px 25px 20px 20px;
  background-color: var(--light-green);
  border-radius: 20px;
}
.veg-pic {
  margin: 0;
  margin-left: 18px;
  margin-right: 18px;
  margin-bottom: 22px;
}
@media screen and (min-width: 768px) {
  .veg-pic {
    margin-bottom: 21px;
  }
}
@media screen and (min-width: 1280px) {
  .veg-pic {
    margin-bottom: 29px;
  }
}
