.wewill {
  margin-top: 80px;
  margin-bottom: 80px;
}

.wewill-title {
  width: 323px;
  color: var(--dark-color);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: ;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.wewill-text {
  width: 321px;
  color: var(--dark-color);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;
  margin-bottom: 40px;
}

.wewill-input {
  position: relative;
  width: 100%;
  max-width: 335px;
  height: 48px;
  border-radius: 100px;
  border: 1px solid var(--dark-color);
  opacity: 0.30000001192092896;
  margin-bottom: 40px;
}

.wewill-btn {
  position: absolute;
  left: 251px;
  padding: 15px 35px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;
  text-transform: capitalize;
  color: #ffffff;
  border-radius: 100px;
  background: var(--orange);
  align-items: center;
  border: none;
}

.wewill-input::placeholder {
  padding-left: 24px;
}
.wewill-img {
  border-radius: 40px;
  background: var(--beige) repeat;
  background-image: radial-gradient(
    circle at 30px 20px,
    rgba(161, 196, 135, 0.3) 2.5px,
    transparent 0
  );
  background-size: 61px 60px;
}

/**-------------------------AMEDIA------------------------------------**/
@media screen and (min-width: 375px) {
  .container {
    width: 375px; /* це виправив тім лід*/
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .wewill {
    margin-top: 100px;
    margin-bottom: 173px;
  }
  .wewill-title {
    width: 524px;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 20px;
  }
  .wewill-text {
    width: 499px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: -0.72px;
    margin-bottom: 40px;
  }
  .wewill-input {
    width: 100%;
    max-width: 350px;
    height: 48px;
  }
  .wewill-btn {
    left: 463px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
  .wewill {
    margin-top: 124px;
    margin-bottom: 124px;
  }
  .wewill-box {
    display: flex;
  }
  .wewill-box-2 {
    width: 614px;
    height: 340px;
    margin: auto;
  }
  .wewill-title {
    width: 614px;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.04;
    letter-spacing: -1.92px;
    text-align: inherit;
    margin-bottom: 40px;
  }

  .wewill-text {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.33;
    width: 523px;
    margin-bottom: 80px;
  }

  .wewill-img {
    width: 525px;
    border-radius: 80px;
    background: var(--beige) repeat;
    background-image: radial-gradient(
      circle at 30px 20px,
      rgba(161, 196, 135, 0.69) 5px,
      transparent 0
    );
    background-size: 55px 65px;
    margin-left: 77px;
  }
  .wewill-input {
    width: 100%;
    max-width: 350px;
    height: 48px;
  }
  .wewill-btn {
    left: 266px;
  }
}
