.wewill {
  margin-bottom: 80px;
}
.wewill-box-2 {
}
.wewill-title {
  /* width: 323px; */
  color: var(--dark-color);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: ;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.wewill-text {
  /* width: 321px; */
  color: var(--dark-color);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;
  margin-bottom: 40px;
}
.wewill-form {
  position: relative;
  max-width: 100%;
  margin: auto;
}
.wewill-label {
  display: block;
  border-radius: 100px;
  border: 1px solid var(--dark-color);
  opacity: 0.30000001192092896;
  padding: 15px 115px 15px 24px;
  margin-bottom: 40px;
}

.wewill-btn {
  display: block;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 15px 35px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;
  text-transform: capitalize;
  color: #ffffff;
  border-radius: 100px;
  background: var(--orange);
  border: none;
}

.wewill-input::placeholder {
  padding-left: 24px;
}
.wewill-images {
  width: 100%;
  max-width: 335px;
  border-radius: 40px;
  background: var(--beige) repeat;
  background-image: radial-gradient(
    circle at 30px 20px,
    rgba(161, 196, 135, 0.3) 2.5px,
    transparent 0
  );
  background-size: 61px 60px;
}
.wewill-img {
  margin: auto;
}
/**-------------------------AMEDIA------------------------------------**/
@media screen and (min-width: 375px) {
  .container {
    width: 375px; /* це виправив тім лід*/
  }
  .wewill-title {
    width: 323px;
  }
  .wewill-text {
    width: 321px;
  }
}

@media screen and (min-width: 768px) {
  .wewill {
    margin-bottom: 173px;
  }
  .wewill-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wewill-title {
    width: 524px;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 20px;
  }
  .wewill-text {
    width: 499px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: -0.72px;
    margin-bottom: 40px;
  }
  .wewill-form {
    max-width: 350px;
  }
  .wewill-label {
    width: 100%;
    max-width: 350px;
    height: 48px;
  }

  .wewill-images {
    max-width: 704px;
    border-radius: 80px;
    padding: 17px 38px 0px 37px;
  }
}

@media screen and (min-width: 1280px) {
  .wewill {
    margin-bottom: 124px;
  }
  .wewill-box {
    display: flex;
    flex-direction: row;
  }
  .wewill-box-2 {
    width: 614px;
    height: 340px;
    margin: auto;
  }
  .wewill-title {
    width: 614px;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.04;
    text-align: inherit;
    margin-bottom: 40px;
  }

  .wewill-text {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.33;
    width: 523px;
    margin-bottom: 80px;
  }

  .wewill-images {
    width: 100%;
    max-width: 525px;
    border-radius: 80px;
    background: var(--beige) repeat;
    background-image: radial-gradient(
      circle at 30px 20px,
      rgba(161, 196, 135, 0.3) 2.5px,
      transparent 0
    );
    background-size: 62px 60px;
    margin-left: 77px;
    padding-top: 37px;
  }
  .wewill-form {
    max-width: 350px;
    margin: 0;
  }
  .wewill-label {
    width: 100%;
    max-width: 350px;
    height: 48px;
  }
}
